# Node modules
node_modules/

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Coverage reports
coverage/

# Misc
*.tgz
.eslintcache
.parcel-cache/
.cache/
